/* Font size */
.ui-text__smaller { font-size: $text-smaller; }
.ui-text__small { font-size: $text-small; }
.ui-text__standard { font-size: $text-standard; }
.ui-text__big { font-size: $text-big; }
.ui-text__bigger { font-size: $text-bigger; }
