/* Font size */

$text-smaller: 12px;
$text-small: 14px;
$text-standard: 16px;
$text-big: 20px;
$text-bigger: 24px;

.ui-text__smaller { font-size: $text-smaller; }
.ui-text__small { font-size: $text-small; }
.ui-text__standard { font-size: $text-standard; }
.ui-text__big { font-size: $text-big; }
.ui-text__bigger { font-size: $text-bigger; }
