/* Variables */
@import '../vars/colors';
@import '../vars/fonts';

/* Mixins */
@import '../mixins/icons';

$ui-page-padding: 15px !default;

@import 'colors';
@import 'fonts';
@import 'helpers';
@import 'shadows';

@import 'ui/buttons';
@import 'ui/card';
@import 'ui/dashboard-header';
@import 'ui/divider';
@import 'ui/drop-down';
@import 'ui/form';
@import 'ui/form-vertical';
@import 'ui/footer';
@import 'ui/icons';
@import 'ui/loader';
@import 'ui/modal';
@import 'ui/page-body';
@import 'ui/page-header';
@import 'ui/panel';
@import 'ui/section';
@import 'ui/table';
@import 'ui/tabs';
@import 'ui/tag';
@import 'ui/text';
@import 'ui/tiles';
@import 'ui/timeline';
@import 'ui/titles';

input[type='checkbox'],
label[for]:not([for=''])
{
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
.ui-button:focus,
button:focus {
    outline: none;
    box-shadow: 0 0 3px 1px $primary;
}