@import '../vars/colors';

@mixin icon-control {
    margin: 3px 0 3px 3px;
    cursor: pointer;
    color: $grey-light-d1;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 18px;

    &:hover {
        color: $grey-l2;
        background-color: $grey-light-l1;
        border: 1px solid $grey-light-l1;
    }
}
