.ui-badge {
    font-size: 12px;
    margin: 0 5px;
    background-color: $neutral-light;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ui-badge--rounded {
    border-radius: 10px;
}

.ui-badge--circular {
    border-radius: 50%;
    margin: 0;
    padding: 2px;
    width: 28px;
    height: 28px;
}

.ui-badge--clickable {
    cursor: pointer;
}