.ui-block {
    background-color: white;
    overflow: auto;
}

.ui-block--outstanding {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.ui-block--separated {
    margin-bottom: 1.5rem;
}

.ui-block--padded {
    padding: 1rem;
}

.ui-block--content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}