/* // reserved for future usage
.ui-block {}
*/

.ui-block--outstanding {
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
    border-radius: 8px;
}

.ui-block--separated {
    margin-bottom: 1.5rem;
}
