@import "../../vars/colors";
@import "../fonts";

.ui-button ~ .ui-button {
    margin-left: .5rem;
}

.ui-button {
    font-family: Lato;
    font-size: $text-standard;
    border: 1px solid transparent;
    border-radius: 17px;
    color: $neutral;
    background-color: $neutral-light-l1;
    padding: 7px 15px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;

    &:focus { outline: none; }

}

.ui-button:hover {
    color: $neutral-l2;
    background-color: $neutral-light-l2;
}

.ui-button.ui-button--small {
    font-size: $text-small;
    padding: 6px 10px 4px;
    padding: .4rem .62rem .3rem;
    border-radius: 15px;
}

a.ui-button.ui-button--small {
    padding: 7px 10px 6px;
}

.ui-button ~ .ui-button.ui-button--small {
    margin-left: 7px;
}

.ui-button:disabled {
    background-color: $neutral-light-l2;
    cursor: default;
}

.ui-button--primary {
    color: $neutral-light-l2;
    background-color: $primary;
}
.ui-button--primary:hover {
    color: $neutral-light-l2;
    background-color: $primary-light-d2;
}
.ui-button--primary:disabled {
    color: $neutral-light-l2;
    background-color: $primary-light;
}

.ui-button--positive {
    color: $neutral-light-l2;
    background-color: $teal;
}
.ui-button--positive:hover {
    color: $neutral-light-l2;
    background-color: $teal-light-d2;
}
.ui-button--positive:disabled {
    color: $neutral-light-l2;
    background-color: $teal-light-d1;
}

.ui-button--negative {
    color: $neutral-light-l2;
    background-color: $red-l1;
}
.ui-button--negative:hover {
    color: $neutral-light-l2;
    background-color: $red-light-d2;
}
.ui-button--negative:disabled {
    color: $neutral-light-l2;
    background-color: $red-light;
}