@import "../../vars/colors";

$ui-form-field-padding: 7px 0 !default;

@import "./form/checkbox";
@import "./form/toggle";

%field-border-focus {
    width: 100%;
    left: 0;
    transition: 0.2s;
}

.ui-form__container,
.ui-section.ui-form__container
{
    display: block;
    overflow: hidden;
}

.ui-form__container--w100 {
    .ui-form__label { width: 100px; }
}

.ui-form__container--w200 {
    .ui-form__label { width: 200px; }
}

/** HORIZONTAL FIELDS (default) **/

.ui-form__field {
    display: inline-flex;
    padding: $ui-form-field-padding;
    align-items: center;
}

.ui-form__label {
    color: $grey-light-d1;
    display: inline-block;
    padding-right: $ui-page-padding;
    font-weight: 500;
}

.ui-form__field-input {
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.ui-form__field__input {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $neutral-light;
    background-color: transparent;
    padding: 5px;
}
.ui-form__field__input::placeholder {
    color: $neutral-light-d1;
}

.ui-form__field__input:focus ~ .ui-form__field-input__border {
    @extend %field-border-focus;
}

.ui-form__field-input__border {
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 0;
    height: 2px;
    background-color: $primary;
}

/** VERTICAL FIELDS (two lines) **/
.ui-form__field-input--vertical {
    display: inline-flex;
    align-items: center;
}

.ui-form__label--vertical {
    margin-bottom: .5rem;
}
.ui-form__field--vertical {
    padding: $ui-form-field-padding;
    display: block;
}

.ui-form__field--vertical:not(:last-of-type) {
    margin-right: .5rem;
}

.ui-form__field__textarea {
    font-family: $ui-font;
    width: 100%;
    min-height: 150px;
    border: none;
    border-bottom: 1px solid #cad1d8;
    background-color: inherit;
}
.ui-form__field__textarea:focus {
    border-bottom: none;
}

.ui-form__field__textarea:focus ~ .ui-form__field-input__border {
    @extend %field-border-focus;
}


