@import "../colors";

$ui-form-field-padding: 7px 0 !default;

.ui-form__container,
.ui-section.ui-form__container
{
    display: block;
}

.ui-form__container--w100 {
    .ui-form__label { width: 100px; }
}

.ui-form__container--w200 {
    .ui-form__label { width: 200px; }
}

/** HORIZONTAL FIELDS (default) **/

.ui-form__field {
    display: flex;
    padding: $ui-form-field-padding;    
    align-items: center;
}

.ui-form__label {
    color: $grey-d2;
    display: inline-block;
}

.ui-form__field-input {
    display: inline-block;
}

/** VERTICAL FIELDS (two lines) **/

.ui-form__field--vertical {
    padding: $ui-form-field-padding;    
}

.ui-form__label--vertical {
    color: $grey-d2;
}

/*
.ui-form__field-input--vertical {
}
*/