.ui-link {
    color: $grey;
    text-decoration: none;

    &:visited {
        color: $grey;
    }
}

.ui-link__content {
    border-bottom: 1px solid $grey-light;
    padding: 2px 0;
}

.ui-link__content--borderless {
    border: none;
}