$ui-page-padding: 15px !default;
$ui-dashboard-header-height: 46px !default;
$ui-dashboard-footer-height: 46px !default;
$ui-page-header-height: 46px !default;

.ui-page-body {
    padding: $ui-page-padding;
    overflow: auto;
}

.ui-page-body--full-height {
    height: calc(100vh - #{($ui-page-padding * 2 + $ui-dashboard-header-height + $ui-dashboard-footer-height)});
}
.ui-page-body--full-height__with-page-header {
    height: calc(100vh - #{($ui-page-padding * 2 + $ui-dashboard-header-height + $ui-dashboard-footer-height + $ui-page-header-height)});
}
