$ui-page-padding: 15px !default;

.ui-page-header__container {
    border-bottom: 1px solid $neutral-light-l1;
    padding-left: $ui-page-padding;
    padding-right: $ui-page-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ui-page-header__container--with-shadow {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.ui-page-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $neutral-d1;
}

.ui-page-header.ui-page-header__breadcrumb {
    text-decoration: none;
    color: $neutral-light-d2;

    &:after {
        content: ">";
        margin-left: .3rem;
        margin-right: .3rem;
        text-decoration: none;
    }
}
