$ui-page-padding: 15px !default;

.page-header__container {
    border-bottom: 1px solid $neutral-light;
    padding-left: $ui-page-padding;
    padding-right: $ui-page-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $neutral-d1;
}

.page-header.ui-page-header__breadcrumb {
    text-decoration: none;
    color: $neutral-light-d2;

    &:after {
        content: ">";
        margin-left: .3rem;
        margin-right: .3rem;
        text-decoration: none;        
    }
}