$ui-page-padding: 15px !default;

.ui-page-header__container {
    padding-left: $ui-page-padding;
    padding-right: $ui-page-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}
.ui-page-header__container--with-shadow {
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.15);
}

.ui-page-header {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $primary;
}

.ui-page-header.ui-page-header__breadcrumb {
    text-decoration: none;
    color: $neutral-light-d2;

    &:after {
        content: ">";
        margin-left: .3rem;
        margin-right: .3rem;
        text-decoration: none;
    }
}
