.ui-section {
    padding-bottom: 1.5rem;
}

.ui-section--flex {
    display: flex;
    justify-content: space-between;
}

.ui-section__title {
    margin-top: 0;
}

.ui-section__column {
    display: inline-block;
}

.ui-section__text {
    max-width: 900px;
}