@import '../../vars/colors';

$ui-dashboard-header-height: 0 !default;

$ui-sidebar-closed-width: 46px !default;
$ui-sidebar-open-width: 350px !default;
$ui-sidebar-trigger-height: $ui-sidebar-closed-width;

.ui-sidebar__container {
    flex: none;
    display: inline-block;
    width: $ui-sidebar-closed-width;
    transition: all 0.4s;
    background-color: $grey-light-l2;
    height: calc(100vh - #{$ui-dashboard-header-height});
    border-right: 1px solid $neutral-light-l1;
}

.ui-sidebar__container--open {
    width: $ui-sidebar-open-width;
    box-shadow: inset -2px 0 10px -7px rgba(0, 0, 0, 0.3), inset -2px 0 10px -7px rgba(0, 0, 0, 0.15);
}

.ui-sidebar__container--closed {
    width: $ui-sidebar-closed-width;
}

.ui-sidebar {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - #{$ui-dashboard-header-height});
    box-sizing: content-box;
    width: 100%;
}

.ui-sidebar__trigger {
    height: $ui-sidebar-trigger-height;
    width: $ui-sidebar-closed-width;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $grey-light-d1;
    cursor: pointer;
}

%sidebar-icon {
    min-width: $ui-sidebar-closed-width;
    height: $ui-sidebar-trigger-height;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ui-sidebar__icon {
    @extend %sidebar-icon;
}
/*
.ui-sidebar__icon__icon--active-open {
}
*/

.ui-sidebar__elements-container {
    height: calc(100vh - #{$ui-dashboard-header-height});
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.ui-sidebar__elements-container--with-trigger {
    height: calc(100vh - #{$ui-dashboard-header-height + $ui-sidebar-trigger-height});
}

.ui-sidebar__top-container {
    flex-grow: 1;
    transition: all 0.4s;
    overflow-y: auto;
    overflow-x: hidden;    
}
.ui-sidebar__top-container--closed {
    padding-top: 34px;
}

.ui-sidebar__bottom-container {
}

.ui-sidebar__entry {
    min-width: $ui-sidebar-closed-width;
    display: flex;
    margin-top: $ui-sidebar-closed-width / 5;
    margin-bottom: $ui-sidebar-closed-width / 5;
    color: $grey-light-d1;
    cursor: pointer;
    text-decoration: none;
}
.ui-sidebar__entry:hover {
    color: $primary-l1;
}

.ui-sidebar__entry--active {
    color: $primary /*#5974cd*/;

}
.ui-sidebar__entry--active-open {
    width: 100%;
}

.ui-sidebar__entry__label {
    padding: 5px 15px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 150px;
    overflow: hidden;
    white-space: nowrap;
}

.ui-sidebar__entry__label--active {
    padding-left: 7px;
}

.ui-sidebar__entry__label__shortcut {
    font-size: 24px;
    text-transform: uppercase;
    @extend %sidebar-icon;
}

.ui-sidebar__entry__details {
    padding-left: 50px;
    transition: all .6s;
    display: none;
    overflow: hidden;
}
.ui-sidebar__entry__details--active {
    display: block;
}
/*
.ui-sidebar__entry__details--open {
}
*/

.ui-sidebar__entry__details--closed {
    max-height: 0;
}
