.ui-tag {
    padding: 0.3rem 0.4rem;
    border-radius: 11px;
    margin-bottom: 0.5rem;

    &:not(:last-of-type) {
        margin-right: 0.5rem;
    }
}

.ui-tag--primary {
    background-color: $primary;
    color: $neutral-light-l2;
}
